{% extends 'base.html.twig' %}

{% block title %}Edit Paste{% endblock %}

{% block main %}
    <h1>Editer l'annonce</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Envoyer'}) }}

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
