{% extends 'base.html.twig' %}

{% block title %}Couettes et cafés{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Accès</th>
        </tr>
        </thead>
        <tbody>

        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>
                    <a href="{{ path('room_ad', {'id': room.id}) }}">
                        show
                    </a>
                </td>
            </tr>
        {% endfor %} {# todos #}

        </tbody>
    </table>

{% endblock %} {# body #}
